<div class="container-fluid" style="background-color: #026aa7">
  <div class="row">
    <div class="col-3" style="padding-top: 10px">
      <p class="d-sm-none d-md-block d-none d-sm-block d-md-none d-lg-block">
        <a class="item btn text-white" href="#"><i class="bi bi-grid-3x3-gap-fill"></i></a>
        <a class="item btn text-white" href="#"><i class="bi bi-house-door-fill"></i></a>
        <a class="item btn text-white" href="#"><i style="padding-right: 5px;" class="bi bi-kanban"></i>Broad</a>
      </p>
      <p class="d-lg-none d-xl-block d-xl-none d-xxl-block d-xxl-none">
        <a class="item_1 btn text-white" href="#"><i class="bi bi-grid-3x3-gap-fill"></i></a>
        <a class="item_1 btn text-white" href="#"><i class="bi bi-kanban"></i></a>
      </p>
    </div>
    <div class="col-6 text-center" style="padding-top: 10px">
      <p>
        <a class="title" href="#"><i style="padding-right: 5px;" class="bi bi-kanban"></i>Trello</a>
      </p>
    </div>
    <div class="col-3" style="padding-top: 10px">
      <p class="d-sm-none d-md-block d-none d-sm-block d-md-none d-lg-block">
        <a class="item btn text-white" href="#">Create</a>
        <a class="item btn text-white" href="#"><i class="bi bi-exclamation-circle"></i></a>
        <a class="item btn text-white" href="#"><i class="bi bi-bell"></i></a>
        <a *ngIf="isLogin" href=""><img class="img" [src]=User.avatar alt="..."></a>
      </p>
      <p class="d-lg-none d-xl-block d-xl-none d-xxl-block d-xxl-none">
        <a class="item_1 btn text-white" href="#"><i class="bi bi-plus-lg"></i></a>
        <a class="item_1 btn text-white" href="#"><i class="bi bi-bell"></i></a>
        <a *ngIf="isLogin" href=""><img [src]=User.avatar class="img_1" alt="..."></a>
      </p>
    </div>
  </div>
</div>
