<div class="title text-center">
  <img class="logo" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/c/p/res/images/trello-header-logos/167dc7b9900a5b241b15ba21f8037cf8/trello-logo-blue.svg" alt="logo">
</div>
<div class="body">
  <form [formGroup]="restForm">
    <div class="text-center h5 form-item" style="padding-top: 20px">Đăng nhập vào trello</div>
    <div class="form-group form-item">
      <input formControlName="username" type="text" name="username" class="form-control"  placeholder="Nhập username" (input)="regexUsername()">
      <span class="text-center">{{err_username}}</span>
    </div>
    <div class="form-group form-item">
      <input formControlName="password" type="password" name="password" class="form-control"  placeholder="Nhập password">
    </div>
    <div class="text-center form-item">
      <button class="btn btn-success" style="width: 100%">Đăng nhập</button>
    </div>
    <div class="form-item text-center">
      <p>
        <a class="" href="#">Không thể đăng nhập?</a>
        .
        <a class="" href="#">Đăng kí tài khoản</a>
      </p>
    </div>
  </form>
</div>
