<div class="container-fluid">
  <div class="row">
    <div class="col-4 ">
      <div class="position-fixed div-left d-sm-none d-md-block d-none d-sm-block d-md-none d-lg-block">
        <img  class="img" src="../../../assets/test.PNG" alt="...">
      </div>
    </div>
    <div class="col-4">
      <router-outlet></router-outlet>
    </div>
    <div class="col-4">
      <div class="position-fixed div-right">
        <img class="img" src="../../../assets/test-1.PNG" alt="">
      </div>
    </div>
  </div>
</div>
